<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite name="Mercury Tours Regression Suite">
         
   <test name="Login Regression Suite">
     <classes>
       <class name="com.mercury.test.LoginRegressionSuite"/>
     </classes>
   </test>
          
  <test name="Flight Finder Regression Suite">
	 <classes>
	   <class name="com.mercury.test.FlightFinderRegressionSuite"/>
	 </classes>
   </test>
   
</suite>